/*Stylization for all pages:*/
/*Include header and footer styles here*/

body {
  margin-bottom: 40px;
}

/*Stylization for home pages:*/
header {
  padding: 10px;
  background-color: #333;
  position: fixed;
}

.logo {
  border-radius: 50%;
}

nav {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: wheat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: blue;
}

.content {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5rem;
}

.flex-container {
    display: flex;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
} 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.site-footer {
    text-align:center;
    font-size:22px;
    padding: 10px;
    font-weight:bold;
    background-color: #333;
    color: wheat;
    position: fixed;
    left: 0;
    bottom: 0;  
    width: 100%; 
}

* {box-sizing:border-box}

/* Slideshow container */

/* Hide the images by default */

.slideImg {
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prevButton, .nextButton {
  cursor: pointer;
  padding: 25px;
  color: red;
  font-weight: bold;
  font-size: 28px;
  user-select: none;
}

.nextButton {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.buttonsDiv {
  text-align: center;
}
  
/*Stylization for art pages:*/
#page-header {
    font-size: 26pt;
    text-align: center;
    margin-bottom: 30px;
    border-bottom-style: solid;
}

#tutorial {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #BBB;
    margin-right: 0;
    margin-left: 0;
}

.section-header {
    text-align: center;
}

.step-header {
    margin-left: 8%;
}

.tutorial-image {
    width: 100%;
    height: 100%;
}

.tutorial-figure {
    width: 20%;
    height: 20%;
    border-style: solid;
    border-width: 0.5px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 5px;
    margin-left: 8%;
}

.tutorial-figure-caption {
    text-align: center;
}

.step {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;
    padding: 0 0 0 0;
}

.step-description {
    align-self: center;
    margin-top: 0;
    background-color: #DDD;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 15px;
}

#art-page-background {
    background-color:rgb(187, 255, 227);
}

/*Stylization for activity pages:*/
a{
    text-decoration: none
}
.activitypage{
    display: block;
}

.divider{
    border-top: lightgray dotted 1px;
    margin-left: 3%;
    margin-top: 6%;
    width: 750px;
}
.dividerlist{
    display: flex;
}

#factcontainer{
    border: lightgray solid 1px;
    border-radius: 20px;
    height: 100px;
    color: lightslategray;
    padding: 5%;
    text-align: center;
    background-color: white;
}


#quiz-container{
    background-color: slategray;
    display: flex;
    width: 99%;
    margin: 1%;
    margin-top: 5%;
}

#quizbutton{
    padding: 1%;
    border: none;
    border-radius: 50px;
    width: 150px;
    margin: 1%;
}
#quiztitle{
    color: white;
    text-align: left;
    font-size: 30px;
    margin: 1%;
    margin-right: 40%;
    margin-top: 2%;
}

.randombutton{
    color: wheat;
    background-color: #333;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

#randombutton-container{
    border: lightgray solid 2px;
    border-radius: 5px;
    padding: 1%;
    width: 50%;
    height: 50%;
    font-family: 'Courier New';
    background-color: #ededed;
    margin-top: 5%;

}

#randombutton-title{
    font-family: 'sans-serif;';
    text-align: center;
}

.top-content{
    display: flex;
}

#tutorial-container{
    width: 45%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.tutorial-point{
    background-color: slategray;
    color: white;
    font-size: 20px;
    font-family: 'Courier New';
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 200px;
}

.tutorial-point:hover{
    background-color: #a11f29;
}

#tutorial-title{
    background-color: #333;
    color: wheat;
    font-size: 30px;
    padding: 7px;
}
