/*Stylization for all pages:*/
/*Include header and footer styles here*/

.background {
    background-color:rgb(187, 255, 227);
}

/*Stylization for art pages:*/
#page-header {
    font-size:26pt;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
    border-bottom-style: solid;
}

#tutorial {
    display: flex;
    flex-direction: column;
}

.section-header {
    margin-left: 5%;
}

.step-header {
    margin-left: 10%;
}

.tutorial-image {
    width: 100%;
    height: 100%;
}

.tutorial-figure {
    width: 20%;
    height: 20%;
    border-style: solid;
    border-width: 0.5px;
    flex-shrink: 0;
    background-color: white;
}

.step {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: left;
}

.step-description {
    margin-right: 10%;
    margin-left: 5%;
    background-color: #D0D0D0;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 15px;
}