@media only screen and (max-width: 480px) {

  /*Stylization for the homepage*/
  header {
    height: 150px;
  }

  li {
    float: none;
  }

  .column {
    width: 100%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Stylization for art pages:*/
  .step {
    flex-direction: column;
    align-items: center;
    padding-right: 36px;
  }

  .step-description {
    margin-left: 0;
    margin-right: 0;
  }

  .tutorial-figure {
    width: 35%;
    height: 35%;
    margin-left: 0;
    margin-right: 0;
  }

  /*Stylization for activity pages:*/
  #quizbutton {
    width: 500px;
    margin: none;
  }

  #quiztitle {
    margin: none;
    width: 10%;
  }

  #quiz-container {
    padding: 3%;
    width: 90%;
  }

  #randombutton-container {
    width: 100%;
    margin: none;
  }

  .top-content {
    display: block;
  }

  .tutorial-point {
    width: 300px;
    padding: 2%;
  }

  #tutorial-title {
    text-align: center;
    width: 300px;
  }

  /*Style for info:*/
  .header {
    margin-left: 50%;
  }

  .subheader {
    font-size: 22pt;
  }

  .description {
    font-size: 15pt;
    text-align: left;

  }

  #info-background {
    background-color: rgb(255, 249, 188);
  }
}