@media only screen and (max-width: 768px) {

  header {
    padding: 10px;
    background-color: darkgreen;
  }

  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto;
  } 

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
}