@media only screen and (max-width: 480px) {

#quizbutton{
	width: 500px;
	margin: none;
}

#quiztitle{
	margin: none;
	width: 10%;
}

#quiz-container{
	padding: 3%;
	width: 90%;
}

#randombutton-container{
		width: 100%;
		margin: none;
	}
.top-content{
	display: block;
}

.tutorial-point{
	width: 300px;
	padding: 2%;
}

#tutorial-title{
	text-align: center;
	width: 300px;
}

}

